{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
      }
    input-group-text {
        display: flex;
        align-items: center;
        padding: 0.775rem 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.5;
        color: #5E6278;
        text-align: center;
        white-space: nowrap;
        background-color: #f5f8fa;
        border: 1px solid #E4E6EF;
        border-radius: 0.475rem;
      }
      input[type=file]::file-selector-button {

        display: none;

        }

        .errorlist {
            display:table-row;
            padding: 10px 10px;
    
        }
        .errorlist li{
            font-size: 14px;
            font-weight: 700;
            display: block;
            padding: 10px 12px;
            margin: 0 0 10px 0;
            color: #e35f5f;
            border: 1px solid #e35f5f;
            border-radius: 4px;
            background-position: 5px 12px;
            overflow-wrap: break-word;
        }
</style>
<script>
    $(document).ready(function(){
      $('#user_input_csv_file').attr("multiple","true");
  
    })
</script>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Collect data</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">CSV files</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>DATA </h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Inter data</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="input-group">
                                                            <label for="user_input_csv_file" class="input-group-text">Upload File</label>
                                                            {{ docs.base_file }}
                                                            {{ docs.base_file.errors }}
                                                            {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
