{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/custom.css">

{% endblock stylesheets %}
{% block content %}
{% include 'csvdata/customNav.html' %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            {% csrf_token %}
            <form id="process-form" class="costum-form" method="post"  enctype="multipart/form-data">
                {% for f in form %}
                {{ f}}
                {{ f.errors}}
                {% endfor %}
          
            </form>
            <div class="col-xl-12 col-md-12 m-b-30">
                <table border="1" class="dataframe table table-striped text-center">
                        <thead>
                            <tr style="text-align: center;">
                                <div class ="thead-container">
                                <th></th>
                                {% for col , type in col_type_dict.items %}
                                <th>
                                    <div class="btn-group mb-2 mr-2">
                                    <button class="btn btn-primary dropdown-toggle col_button" col-type="{{type}}" value="{{col}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{col}}</button>
                                        <div class="dropdown-menu">
                                            <option class="dropdown-item dropOneColumn" value="DropColumn" val1="{{col}}" >Drop Column</option>
                                            <option class="dropdown-item dropNullRowsInColumn" value="DropNaInCol" val1="{{col}}">Drop row contian Null Values</option>
                                            <option class="dropdown-item replaceColNulls" value="FillNaInCol" val1="{{col}}" >Replace Null Values</option>
                                            <option class="dropdown-item rename_col" value="RenameColumn" val1="{{col}}" >Rename Column</option>
                                            
                                            {% if type == 'object' %}
                                            <option class="dropdown-item splitCol" value="SplitCol" val1="{{col}}" >split column</option>
                                            <option class="dropdown-item joinStrCol" value="JoinStrCol" val1="{{col}}">Join Column ..</option>
                                            {% endif %}
                                            <option class="dropdown-item rerange_column" value="RerangeColumn" val1="{{col}}" val2="right" >Move right</option>
                                            <option class="dropdown-item rerange_column" value="RerangeColumn" val1="{{col}}" val2="left" >Move left</option>
                                            <option class="dropdown-item rerange_column" value="RerangeColumn" val1="{{col}}" val2="first" >Move to the beginning</option>
                                            <option class="dropdown-item rerange_column" value="RerangeColumn" val1="{{col}}" val2="last" >Move to the end</option>
                                        </div>
                                    </div>
                                </th>
                                {% endfor %}
                            </div>
                            </tr>
                        </thead>
                        <div class="table-container">
                        <tbody>

                            {% for row in index_pages %}
                                <tr x="{{row.0|add:"1"}}" >
                                    <td y='0'>{{row.0|add:"1"}}</td>   

                                    {% for cell in row.1 %}
                                    
                                        <td contenteditable='true' y='{{ forloop.counter }}'>{{cell}}</td>   
                                    
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                        </tbody>
                    </div>
                    </table>
                <a class="infinite-more-link" href="?page={{ index_pages.next_page_number }}"></a>

                <div class="loading" style="display: none;">
                    Loading...
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>

<script src="{{ ASSETS_ROOT }}/js/pages/costum.js"></script>

{% endblock javascripts %}
