<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ ASSETS_ROOT }}/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">      

    </head>
    <body>
        {% csrf_token %}
        <div class="container">
            <iframe width="100%" height="100%" frameborder="0" src="https://mokhles-abdelmonem-streamliteapp-streamlitapp-irvpt8.streamlit.app/?token={{token}}&embedded=true" class="responsive-iframe" ></iframe>
        </div>

    </body>
</html>
